 body {
        margin: 0;
        padding: 0;
        font-family: arial;
    }

.nav{
    background-color: rgb(48, 187, 230);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between; 
}

.nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    list-style-type: none;
    font-size: 25px;
    
}

.logo{
  display: flex;           
    justify-content: flex-end;
 
}

.tombol {
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tombol:hover {
    background-color: gold;
    transform: scale(1.05);
}


.body {
    width: 100%;
    height: 682px;
    background: linear-gradient(
        120deg,       
        #a0d8f1 2%,      
        #39b3e6 100%     
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #033b4a; 
}

.body2{
    width: 100%;
    height: 300px;
    background: linear-gradient(
        120deg,       
        #a0d8f1 2%,      
        #39b3e6 100%     
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #033b4a; 
}

.footer {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 16px;
}

